<div class="container">
  <h2>{{headerTitle}}</h2>
  <!--<form class="" >-->
  <!--<form #form="ngForm" (ngSubmit)="onSaveDataInDB(poData)" class="well" >-->
    <div class="form-group col-sm-4">
      <label for="requester">{{headerDetails.requester}}:</label>
      <input type="input" class="form-control" name="requestor" [(ngModel)]="poData.requestor"  placeholder="Enter {{headerDetails.requester}}" >
    </div>
    <div class="form-group col-sm-4">
      <label>{{headerDetails.companyCode}}:</label>
      <input type="input"  [(ngModel)]="poData.companycode" name="companycode"  class="form-control"  placeholder="{{headerDetails.companyCode}}" name="companycode">
    </div>
   <div class="form-group col-sm-4">
      <label >{{headerDetails.vendor}}:</label>
      <input type="input" class="form-control" name="vendor" [(ngModel)]="poData.vendor" placeholder="{{headerDetails.vendor}}" name="vendor">
    </div>
     <div class="form-group col-sm-4">
      <label >{{headerDetails.materialGp}}:</label>
      <input type="input" class="form-control" name="materialGp" [(ngModel)]="poData.materialGp" placeholder="{{headerDetails.materialGp}}" name="materialGp">
    </div>
    <div class="form-group col-sm-4">
      <label >{{headerDetails.purchseOrg}}:</label>
      <input type="input" class="form-control" name="purchaseOrg" [(ngModel)]="poData.purchaseOrg" placeholder="{{headerDetails.purchseOrg}}" name="purchseOrg">
    </div>
    <div class="form-group col-sm-4">
      <label >{{headerDetails.currency}}:</label>
      <input type="input" class="form-control" name="currency" [(ngModel)]="poData.currency" placeholder="{{headerDetails.currency}}" name="currency">
    </div>
    <div class="form-group col-sm-4">
      <label >{{headerDetails.docType}}:</label>
      <input type="input" class="form-control" name="docType" [(ngModel)]="poData.docType" placeholder="{{headerDetails.docType}}" name="docType">
    </div>
    <div class="form-group col-sm-4">
      <label >{{headerDetails.createdDate}}:</label>
      <input type="input" class="form-control" name="createdDate" [(ngModel)]="poData.createdDate" placeholder="{{headerDetails.createdDate}}" name="createdDate">
    </div>
    <!--<button type="submit" class="btn btn-info">Save header Data</button>
  </form>-->
</div>